busvendor/MasterPass/wsdl/I_MerchTerm_mt/I_MerchTerm_mt.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://cellumpay.cellum.com" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://cellumpay.cellum.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ReceiveImNotifReq">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ImNotifReq">
        <xs:sequence>
          <xs:element minOccurs="0" name="merchNotifValue" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReceiveImNotifReq" nillable="true" type="tns:ReceiveImNotifReq" />
  <xs:complexType name="ImNotifReq">
    <xs:sequence>
      <xs:element minOccurs="0" name="signature" nillable="true" type="tns:Signature">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="message" nillable="true" type="tns:ImNotifReqMsg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImNotifReq" nillable="true" type="tns:ImNotifReq" />
  <xs:complexType name="Signature">
    <xs:sequence>
      <xs:element name="signatureId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="digestValue" nillable="true" type="xs:base64Binary">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="signatureValue" nillable="true" type="xs:base64Binary">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="keyName" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Signature" nillable="true" type="tns:Signature" />
  <xs:complexType name="ImNotifReqMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="authCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="bankTrxId" type="xs:long" />
      <xs:element name="bankTrxResult" type="xs:int" />
      <xs:element name="merchTermId" type="xs:int" />
      <xs:element name="merchTrxId" type="xs:long" />
      <xs:element minOccurs="0" name="mpiCat" nillable="true" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="isRepeated" type="xs:boolean" />
      <xs:element name="trxType" type="tns:TransferTypeEnum" />
      <xs:element minOccurs="0" name="trxDate" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImNotifReqMsg" nillable="true" type="tns:ImNotifReqMsg" />
  <xs:simpleType name="TransferTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Authorize">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FT">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AuthComplete">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Refund">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TopUp">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Storno">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MpCheckout">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MpPayment">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TransferTypeEnum" nillable="true" type="tns:TransferTypeEnum" />
  <xs:complexType name="CorrelationHeader">
    <xs:sequence>
      <xs:element name="correlationId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CorrelationHeader" nillable="true" type="tns:CorrelationHeader" />
  <xs:element name="header" nillable="true" type="tns:CorrelationHeader" />
  <xs:complexType name="ReceiveImNotifResp">
    <xs:sequence>
      <xs:element name="result" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiveImNotifResp" nillable="true" type="tns:ReceiveImNotifResp" />
  <xs:complexType name="ReceiveMpCheckoutNotifReq">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:mpCheckoutDataRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReceiveMpCheckoutNotifReq" nillable="true" type="tns:ReceiveMpCheckoutNotifReq" />
  <xs:complexType name="mpCheckoutDataRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="signature" nillable="true" type="tns:Signature">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="digest" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="message" nillable="true" type="tns:checkoutDataRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="mpCheckoutDataRequest" nillable="true" type="tns:mpCheckoutDataRequest" />
  <xs:complexType name="checkoutDataRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="bankTrxId" type="xs:long" />
      <xs:element minOccurs="0" name="BillingAddress" nillable="true" type="tns:AddressType" />
      <xs:element minOccurs="0" name="Contact" nillable="true" type="tns:ContactType" />
      <xs:element minOccurs="0" name="merchTermId" type="xs:int" />
      <xs:element minOccurs="0" name="merchTrxId" type="xs:long" />
      <xs:element minOccurs="0" name="result" type="xs:int" />
      <xs:element minOccurs="0" name="RewardProgram" nillable="true" type="tns:RewardProgram">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ShippingAddress" nillable="true" type="tns:ShippingAddressType">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="transactionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="checkoutDataRequest" nillable="true" type="tns:checkoutDataRequest" />
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountrySubdivision" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Line1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line2" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Line3" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressType" nillable="true" type="tns:AddressType" />
  <xs:complexType name="ContactType">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleInitial" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactType" nillable="true" type="tns:ContactType" />
  <xs:complexType name="RewardProgram">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpiryMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiryYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RewardId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RewardName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RewardNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RewardProgram" nillable="true" type="tns:RewardProgram" />
  <xs:complexType name="ShippingAddressType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AddressType">
        <xs:sequence>
          <xs:element minOccurs="0" name="RecipientName" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="RecipientPhoneNumber" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ShippingAddressType" nillable="true" type="tns:ShippingAddressType" />
  <xs:complexType name="ReceiveMpCheckoutNotifResp">
    <xs:sequence>
      <xs:element name="result" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiveMpCheckoutNotifResp" nillable="true" type="tns:ReceiveMpCheckoutNotifResp" />
</xs:schema>