busvendor/MasterPass/wsdl/I_MerchTerm_mt/I_MerchTerm_mt.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://cellumpay.cellum.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://cellumpay.cellum.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://cellumpay.cellum.com/Imports">
      <xsd:import namespace="http://cellumpay.cellum.com" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ReceiveImNotifReqMsg">
    <wsdl:part name="ReceiveImNotifReq" element="tns:ReceiveImNotifReq" />
  </wsdl:message>
  <wsdl:message name="ReceiveImNotifReqMsg_Headers">
    <wsdl:part name="header" element="tns:header" />
  </wsdl:message>
  <wsdl:message name="ReceiveImNotifRespMsg">
    <wsdl:part name="ReceiveImNotifResp" element="tns:ReceiveImNotifResp" />
  </wsdl:message>
  <wsdl:message name="ReceiveMpCheckoutNotifReqMsg">
    <wsdl:part name="ReceiveMpCheckoutNotifReq" element="tns:ReceiveMpCheckoutNotifReq" />
  </wsdl:message>
  <wsdl:message name="ReceiveMpCheckoutNotifReqMsg_Headers">
    <wsdl:part name="header" element="tns:header" />
  </wsdl:message>
  <wsdl:message name="ReceiveMpCheckoutNotifRespMsg">
    <wsdl:part name="ReceiveMpCheckoutNotifResp" element="tns:ReceiveMpCheckoutNotifResp" />
  </wsdl:message>
  <wsdl:portType name="I_MerchTerm_mt">
    <wsdl:operation name="ReceiveImNotif">
      <wsdl:input wsaw:Action="http://cellumpay.cellum.com/I_MerchTerm_mt/ReceiveImNotif" name="ReceiveImNotifReqMsg" message="tns:ReceiveImNotifReqMsg" />
      <wsdl:output wsaw:Action="" name="ReceiveImNotifRespMsg" message="tns:ReceiveImNotifRespMsg" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveMpCheckoutNotif">
      <wsdl:input wsaw:Action="http://cellumpay.cellum.com/I_MerchTerm_mt/ReceiveMpCheckoutNotif" name="ReceiveMpCheckoutNotifReqMsg" message="tns:ReceiveMpCheckoutNotifReqMsg" />
      <wsdl:output wsaw:Action="" name="ReceiveMpCheckoutNotifRespMsg" message="tns:ReceiveMpCheckoutNotifRespMsg" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DefaultBinding_I_MerchTerm_mt" type="tns:I_MerchTerm_mt">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveImNotif">
      <soap:operation soapAction="http://cellumpay.cellum.com/I_MerchTerm_mt/ReceiveImNotif" style="document" />
      <wsdl:input name="ReceiveImNotifReqMsg">
        <soap:header message="tns:ReceiveImNotifReqMsg_Headers" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ReceiveImNotifRespMsg">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveMpCheckoutNotif">
      <soap:operation soapAction="http://cellumpay.cellum.com/I_MerchTerm_mt/ReceiveMpCheckoutNotif" style="document" />
      <wsdl:input name="ReceiveMpCheckoutNotifReqMsg">
        <soap:header message="tns:ReceiveMpCheckoutNotifReqMsg_Headers" part="header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ReceiveMpCheckoutNotifRespMsg">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>