busvendor/MasterPass/wsdl/I_MerchTerm_umg/I_MerchTerm_umg.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://cellumpay.cellum.com" elementFormDefault="qualified" targetNamespace="http://cellumpay.cellum.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="imCreditInitReq">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:imBaseReq">
        <xs:sequence>
          <xs:element minOccurs="0" name="references" nillable="true" type="tns:References">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="imCreditInitReq" nillable="true" type="tns:imCreditInitReq" />
  <xs:complexType name="imBaseReq">
    <xs:sequence>
      <xs:element minOccurs="0" name="merchId" type="xs:int" />
      <xs:element name="merchTermId" type="xs:int" />
      <xs:element name="merchTrxId" type="xs:long" />
      <xs:element name="clientId" nillable="true" type="tns:ClientIdBase" />
      <xs:element name="amount" type="xs:decimal" />
      <xs:element name="description" nillable="true" type="xs:string" />
      <xs:element name="timeout" nillable="true" type="tns:TimeoutBase" />
      <xs:element name="isRepeated" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="imBaseReq" nillable="true" type="tns:imBaseReq" />
  <xs:complexType name="ClientIdBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="appTypeId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientIdBase" nillable="true" type="tns:ClientIdBase" />
  <xs:complexType name="ClientMsisdn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ClientIdBase">
        <xs:sequence>
          <xs:element name="value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientMsisdn" nillable="true" type="tns:ClientMsisdn" />
  <xs:complexType name="ClientMpid">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ClientIdBase">
        <xs:sequence>
          <xs:element name="value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientMpid" nillable="true" type="tns:ClientMpid" />
  <xs:complexType name="ClientEmail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ClientIdBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientEmail" nillable="true" type="tns:ClientEmail" />
  <xs:complexType name="TimeoutBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="TimeoutBase" nillable="true" type="tns:TimeoutBase" />
  <xs:complexType name="TimeoutValue">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TimeoutBase">
        <xs:sequence>
          <xs:element name="value" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TimeoutValue" nillable="true" type="tns:TimeoutValue" />
  <xs:complexType name="TimeoutCategory">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TimeoutBase">
        <xs:sequence>
          <xs:element name="value" type="tns:TimeoutCatTypeEnum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TimeoutCategory" nillable="true" type="tns:TimeoutCategory" />
  <xs:simpleType name="TimeoutCatTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="shortPeriod">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mediumPeriod">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="longPeriod">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TimeoutCatTypeEnum" nillable="true" type="tns:TimeoutCatTypeEnum" />
  <xs:complexType name="References">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="References" nillable="true" type="tns:References" />
  <xs:element name="PostImCreditInitReq" nillable="true" type="tns:imCreditInitReq" />
  <xs:element name="CorrelationId" nillable="true" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" type="q1:guid" />
  <xs:complexType name="PostImResp">
    <xs:sequence>
      <xs:element minOccurs="0" name="bankTrxId" nillable="true" type="xs:long">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="wasRepeated" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="result" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostImResp" nillable="true" type="tns:PostImResp" />
  <xs:element name="PostImCreditInitResp" nillable="true" type="tns:PostImResp" />
  <xs:complexType name="imAuthCompleteReq">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:imBaseReq">
        <xs:sequence>
          <xs:element minOccurs="0" name="references" nillable="true" type="tns:References">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="origBankTrxId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="imAuthCompleteReq" nillable="true" type="tns:imAuthCompleteReq" />
  <xs:element name="PostImAuthCompleteReq" nillable="true" type="tns:imAuthCompleteReq" />
  <xs:element name="PostImAuthCompleteResp" nillable="true" type="tns:PostImResp" />
  <xs:complexType name="imAuthorizationReq">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:imBaseReq">
        <xs:sequence>
          <xs:element minOccurs="0" name="references" nillable="true" type="tns:References">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="imAuthorizationReq" nillable="true" type="tns:imAuthorizationReq" />
  <xs:element name="PostImAuthorizationReq" nillable="true" type="tns:imAuthorizationReq" />
  <xs:element name="PostImAuthorizationResp" nillable="true" type="tns:PostImResp" />
  <xs:complexType name="imRefundReq">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:imBaseReq">
        <xs:sequence>
          <xs:element minOccurs="0" name="origBankTrxId" nillable="true" type="xs:long">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="imRefundReq" nillable="true" type="tns:imRefundReq" />
  <xs:element name="PostImRefundReq" nillable="true" type="tns:imRefundReq" />
  <xs:element name="PostImRefundResp" nillable="true" type="tns:PostImResp" />
  <xs:complexType name="imStornoReq">
    <xs:sequence>
      <xs:element minOccurs="0" name="merchId" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="merchTermId" type="xs:int" />
      <xs:element name="bankTrxId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="imStornoReq" nillable="true" type="tns:imStornoReq" />
  <xs:element name="PostImStornoReq" nillable="true" type="tns:imStornoReq" />
  <xs:complexType name="PostImStornoResp">
    <xs:sequence>
      <xs:element name="result" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostImStornoResp" nillable="true" type="tns:PostImStornoResp" />
  <xs:complexType name="GetImNotifReq">
    <xs:sequence>
      <xs:element name="merchTermId" type="xs:int" />
      <xs:element name="imNotifFilter" nillable="true" type="tns:ImNotifFilterBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetImNotifReq" nillable="true" type="tns:GetImNotifReq" />
  <xs:complexType name="ImNotifFilterBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ImNotifFilterBase" nillable="true" type="tns:ImNotifFilterBase" />
  <xs:complexType name="ImNotifFilterBankTrxId">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ImNotifFilterBase">
        <xs:sequence>
          <xs:element name="bankTrxId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImNotifFilterBankTrxId" nillable="true" type="tns:ImNotifFilterBankTrxId" />
  <xs:complexType name="ImNotifFilterDate">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ImNotifFilterBase">
        <xs:sequence>
          <xs:element name="startDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="allTerminal" nillable="true" type="xs:boolean">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImNotifFilterDate" nillable="true" type="tns:ImNotifFilterDate" />
  <xs:complexType name="GetImNotifResp">
    <xs:sequence>
      <xs:element name="ImNotifList" nillable="true" type="tns:ImNotifList" />
      <xs:element name="result" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetImNotifResp" nillable="true" type="tns:GetImNotifResp" />
  <xs:complexType name="ImNotifList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImNotifReq" nillable="true" type="tns:ImNotifReqExt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImNotifList" nillable="true" type="tns:ImNotifList" />
  <xs:complexType name="ImNotifReqExt">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ImNotifReq">
        <xs:sequence>
          <xs:element minOccurs="0" name="merchNotifValue" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImNotifReqExt" nillable="true" type="tns:ImNotifReqExt" />
  <xs:complexType name="ImNotifReq">
    <xs:sequence>
      <xs:element minOccurs="0" name="signature" nillable="true" type="tns:Signature">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="message" nillable="true" type="tns:ImNotifReqMsg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImNotifReq" nillable="true" type="tns:ImNotifReq" />
  <xs:complexType name="Signature">
    <xs:sequence>
      <xs:element name="signatureId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="digestValue" nillable="true" type="xs:base64Binary">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="signatureValue" nillable="true" type="xs:base64Binary">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="keyName" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Signature" nillable="true" type="tns:Signature" />
  <xs:complexType name="ImNotifReqMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="authCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="bankTrxId" type="xs:long" />
      <xs:element name="bankTrxResult" type="xs:int" />
      <xs:element name="merchTermId" type="xs:int" />
      <xs:element name="merchTrxId" type="xs:long" />
      <xs:element minOccurs="0" name="mpiCat" nillable="true" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="isRepeated" type="xs:boolean" />
      <xs:element name="trxType" type="tns:TransferTypeEnum" />
      <xs:element minOccurs="0" name="trxDate" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImNotifReqMsg" nillable="true" type="tns:ImNotifReqMsg" />
  <xs:simpleType name="TransferTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Authorize">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FT">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AuthComplete">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Refund">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TopUp">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Storno">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MpCheckout">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MpPayment">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TransferTypeEnum" nillable="true" type="tns:TransferTypeEnum" />
  <xs:complexType name="mpCheckoutRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:oauthBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="merchId" type="xs:int" />
          <xs:element name="merchTermId" type="xs:int" />
          <xs:element name="merchTrxId" type="xs:long" />
          <xs:element name="isRepeated" type="xs:boolean" />
          <xs:element name="checkout_resource_url" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="mpCheckoutRequest" nillable="true" type="tns:mpCheckoutRequest" />
  <xs:complexType name="oauthBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="oauth_consumer_key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oauth_expires_in" type="xs:int" />
      <xs:element minOccurs="0" name="oauth_signature_method" nillable="true" type="xs:string" />
      <xs:element name="oauth_token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oauth_version" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oauth_thumbprint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="realm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oauth_verifier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="oauthBase" nillable="true" type="tns:oauthBase" />
  <xs:element name="PostMpCheckoutRequest" nillable="true" type="tns:mpCheckoutRequest" />
  <xs:element name="PostMpCheckoutResp" nillable="true" type="tns:PostImResp" />
  <xs:complexType name="mpPaymentRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="merchId" type="xs:int" />
      <xs:element name="merchTermId" type="xs:int" />
      <xs:element name="merchTrxId" type="xs:long" />
      <xs:element name="isRepeated" type="xs:boolean" />
      <xs:element name="amount" type="xs:decimal" />
      <xs:element name="bankTrxId" type="xs:long" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="mpPaymentRequest" nillable="true" type="tns:mpPaymentRequest" />
  <xs:element name="PostMpPaymentRequest" nillable="true" type="tns:mpPaymentRequest" />
  <xs:element name="PostMpPaymentResp" nillable="true" type="tns:PostImResp" />
  <xs:complexType name="ShoppingCart">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Subtotal" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ShoppingCart" nillable="true" type="tns:ArrayOfShoppingCartItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShoppingCart" nillable="true" type="tns:ShoppingCart" />
  <xs:complexType name="ArrayOfShoppingCartItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShoppingCartItem" nillable="true" type="tns:ShoppingCartItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShoppingCartItem" nillable="true" type="tns:ArrayOfShoppingCartItem" />
  <xs:complexType name="ShoppingCartItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
      <xs:element minOccurs="0" name="ImageURL" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShoppingCartItem" nillable="true" type="tns:ShoppingCartItem" />
  <xs:element name="PostMpShoppingCartRequest" nillable="true" type="tns:ShoppingCart" />
  <xs:complexType name="ShoppingCartResp">
    <xs:sequence>
      <xs:element minOccurs="0" name="authUrl" nillable="true" type="xs:string" />
      <xs:element name="oauthToken" nillable="true" type="xs:string" />
      <xs:element name="result" type="xs:int" />
      <xs:element name="oauth_expires_in" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShoppingCartResp" nillable="true" type="tns:ShoppingCartResp" />
  <xs:element name="PostMpShoppingCartResp" nillable="true" type="tns:ShoppingCartResp" />
</xs:schema>