busvendor/MasterPass/wsdl/I_MerchTerm_umg/I_MerchTerm_umg.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://cellumpay.cellum.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://cellumpay.cellum.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://cellumpay.cellum.com/Imports">
      <xsd:import namespace="http://cellumpay.cellum.com" />      
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PostImCreditInitReqMsg">
    <wsdl:part name="PostImCreditInitReq" element="tns:PostImCreditInitReq" />
  </wsdl:message>
  <wsdl:message name="PostImCreditInitReqMsg_Headers">
    <wsdl:part name="CorrelationId" element="tns:CorrelationId" />    
  </wsdl:message>
  <wsdl:message name="PostImCreditInitRespMsg">
    <wsdl:part name="PostImCreditInitResp" element="tns:PostImCreditInitResp" />
  </wsdl:message>
  <wsdl:message name="PostImAuthCompleteReqMsg">
    <wsdl:part name="PostImAuthCompleteReq" element="tns:PostImAuthCompleteReq" />
  </wsdl:message>
  <wsdl:message name="PostImAuthCompleteReqMsg_Headers">
    <wsdl:part name="CorrelationId" element="tns:CorrelationId" />    
  </wsdl:message>
  <wsdl:message name="PostImAuthCompleteRespMsg">
    <wsdl:part name="PostImAuthCompleteResp" element="tns:PostImAuthCompleteResp" />
  </wsdl:message>
  <wsdl:message name="PostImAuthorizationReqMsg">
    <wsdl:part name="PostImAuthorizationReq" element="tns:PostImAuthorizationReq" />
  </wsdl:message>
  <wsdl:message name="PostImAuthorizationReqMsg_Headers">
    <wsdl:part name="CorrelationId" element="tns:CorrelationId" />    
  </wsdl:message>
  <wsdl:message name="PostImAuthorizationRespMsg">
    <wsdl:part name="PostImAuthorizationResp" element="tns:PostImAuthorizationResp" />
  </wsdl:message>
  <wsdl:message name="PostImRefundReqMsg">
    <wsdl:part name="PostImRefundReq" element="tns:PostImRefundReq" />
  </wsdl:message>
  <wsdl:message name="PostImRefundReqMsg_Headers">
    <wsdl:part name="CorrelationId" element="tns:CorrelationId" />    
  </wsdl:message>
  <wsdl:message name="PostImRefundRespMsg">
    <wsdl:part name="PostImRefundResp" element="tns:PostImRefundResp" />
  </wsdl:message>
  <wsdl:message name="PostImStornoReqMsg">
    <wsdl:part name="PostImStornoReq" element="tns:PostImStornoReq" />
  </wsdl:message>
  <wsdl:message name="PostImStornoReqMsg_Headers">
    <wsdl:part name="CorrelationId" element="tns:CorrelationId" />    
  </wsdl:message>
  <wsdl:message name="PostImStornoRespMsg">
    <wsdl:part name="PostImStornoResp" element="tns:PostImStornoResp" />
  </wsdl:message>
  <wsdl:message name="GetImNotifReqMsg">
    <wsdl:part name="GetImNotifReq" element="tns:GetImNotifReq" />
  </wsdl:message>
  <wsdl:message name="GetImNotifReqMsg_Headers">    
  </wsdl:message>
  <wsdl:message name="GetImNotifRespMsg">
    <wsdl:part name="GetImNotifResp" element="tns:GetImNotifResp" />
  </wsdl:message>
  <wsdl:message name="PostMpCheckoutRequestMsg">
    <wsdl:part name="PostMpCheckoutRequest" element="tns:PostMpCheckoutRequest" />
  </wsdl:message>
  <wsdl:message name="PostMpCheckoutRequestMsg_Headers">
    <wsdl:part name="CorrelationId" element="tns:CorrelationId" />    
  </wsdl:message>
  <wsdl:message name="PostMpCheckoutRespMsg">
    <wsdl:part name="PostMpCheckoutResp" element="tns:PostMpCheckoutResp" />
  </wsdl:message>
  <wsdl:message name="PostMpPaymentRequestMsg">
    <wsdl:part name="PostMpPaymentRequest" element="tns:PostMpPaymentRequest" />
  </wsdl:message>
  <wsdl:message name="PostMpPaymentRequestMsg_Headers">
    <wsdl:part name="CorrelationId" element="tns:CorrelationId" />    
  </wsdl:message>
  <wsdl:message name="PostMpPaymentRespMsg">
    <wsdl:part name="PostMpPaymentResp" element="tns:PostMpPaymentResp" />
  </wsdl:message>
  <wsdl:message name="PostMpShoppingCartRequestMsg">
    <wsdl:part name="PostMpShoppingCartRequest" element="tns:PostMpShoppingCartRequest" />
  </wsdl:message>
  <wsdl:message name="PostMpShoppingCartRequestMsg_Headers">
    <wsdl:part name="CorrelationId" element="tns:CorrelationId" />    
  </wsdl:message>
  <wsdl:message name="PostMpShoppingCartRespMsg">
    <wsdl:part name="PostMpShoppingCartResp" element="tns:PostMpShoppingCartResp" />
  </wsdl:message>
  <wsdl:portType name="I_MerchTerm_umg">
    <wsdl:operation name="PostImCreditInit">
      <wsdl:input wsaw:Action="http://cellumpay.cellum.com/I_MerchTerm_umg/PostImCreditInit" name="PostImCreditInitReqMsg" message="tns:PostImCreditInitReqMsg" />
      <wsdl:output wsaw:Action="" name="PostImCreditInitRespMsg" message="tns:PostImCreditInitRespMsg" />
    </wsdl:operation>
    <wsdl:operation name="PostImAuthComplete">
      <wsdl:input wsaw:Action="http://cellumpay.cellum.com/I_MerchTerm_umg/PostImAuthComplete" name="PostImAuthCompleteReqMsg" message="tns:PostImAuthCompleteReqMsg" />
      <wsdl:output wsaw:Action="" name="PostImAuthCompleteRespMsg" message="tns:PostImAuthCompleteRespMsg" />
    </wsdl:operation>
    <wsdl:operation name="PostImAuthorization">
      <wsdl:input wsaw:Action="http://cellumpay.cellum.com/I_MerchTerm_umg/PostImAuthorization" name="PostImAuthorizationReqMsg" message="tns:PostImAuthorizationReqMsg" />
      <wsdl:output wsaw:Action="" name="PostImAuthorizationRespMsg" message="tns:PostImAuthorizationRespMsg" />
    </wsdl:operation>
    <wsdl:operation name="PostImRefund">
      <wsdl:input wsaw:Action="http://cellumpay.cellum.com/I_MerchTerm_umg/PostImRefund" name="PostImRefundReqMsg" message="tns:PostImRefundReqMsg" />
      <wsdl:output wsaw:Action="" name="PostImRefundRespMsg" message="tns:PostImRefundRespMsg" />
    </wsdl:operation>
    <wsdl:operation name="PostImStorno">
      <wsdl:input wsaw:Action="http://cellumpay.cellum.com/I_MerchTerm_umg/PostImStorno" name="PostImStornoReqMsg" message="tns:PostImStornoReqMsg" />
      <wsdl:output wsaw:Action="" name="PostImStornoRespMsg" message="tns:PostImStornoRespMsg" />
    </wsdl:operation>
    <wsdl:operation name="GetImNotif">
      <wsdl:input wsaw:Action="http://cellumpay.cellum.com/I_MerchTerm_umg/GetImNotif" name="GetImNotifReqMsg" message="tns:GetImNotifReqMsg" />
      <wsdl:output wsaw:Action="" name="GetImNotifRespMsg" message="tns:GetImNotifRespMsg" />
    </wsdl:operation>
    <wsdl:operation name="PostMpCheckout">
      <wsdl:input wsaw:Action="http://cellumpay.cellum.com/I_MerchTerm_umg/PostMpCheckout" name="PostMpCheckoutRequestMsg" message="tns:PostMpCheckoutRequestMsg" />
      <wsdl:output wsaw:Action="" name="PostMpCheckoutRespMsg" message="tns:PostMpCheckoutRespMsg" />
    </wsdl:operation>
    <wsdl:operation name="PostMpPayment">
      <wsdl:input wsaw:Action="http://cellumpay.cellum.com/I_MerchTerm_umg/PostMpPayment" name="PostMpPaymentRequestMsg" message="tns:PostMpPaymentRequestMsg" />
      <wsdl:output wsaw:Action="" name="PostMpPaymentRespMsg" message="tns:PostMpPaymentRespMsg" />
    </wsdl:operation>
    <wsdl:operation name="PostMpShoppingCart">
      <wsdl:input wsaw:Action="http://cellumpay.cellum.com/I_MerchTerm_umg/PostMpShoppingCart" name="PostMpShoppingCartRequestMsg" message="tns:PostMpShoppingCartRequestMsg" />
      <wsdl:output wsaw:Action="" name="PostMpShoppingCartRespMsg" message="tns:PostMpShoppingCartRespMsg" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DefaultBinding_I_MerchTerm_umg" type="tns:I_MerchTerm_umg">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostImCreditInit">
      <soap:operation soapAction="http://cellumpay.cellum.com/I_MerchTerm_umg/PostImCreditInit" style="document" />
      <wsdl:input name="PostImCreditInitReqMsg">
        <soap:header message="tns:PostImCreditInitReqMsg_Headers" part="CorrelationId" use="literal" />        
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PostImCreditInitRespMsg">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostImAuthComplete">
      <soap:operation soapAction="http://cellumpay.cellum.com/I_MerchTerm_umg/PostImAuthComplete" style="document" />
      <wsdl:input name="PostImAuthCompleteReqMsg">
        <soap:header message="tns:PostImAuthCompleteReqMsg_Headers" part="CorrelationId" use="literal" />        
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PostImAuthCompleteRespMsg">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostImAuthorization">
      <soap:operation soapAction="http://cellumpay.cellum.com/I_MerchTerm_umg/PostImAuthorization" style="document" />
      <wsdl:input name="PostImAuthorizationReqMsg">
        <soap:header message="tns:PostImAuthorizationReqMsg_Headers" part="CorrelationId" use="literal" />        
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PostImAuthorizationRespMsg">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostImRefund">
      <soap:operation soapAction="http://cellumpay.cellum.com/I_MerchTerm_umg/PostImRefund" style="document" />
      <wsdl:input name="PostImRefundReqMsg">
        <soap:header message="tns:PostImRefundReqMsg_Headers" part="CorrelationId" use="literal" />        
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PostImRefundRespMsg">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostImStorno">
      <soap:operation soapAction="http://cellumpay.cellum.com/I_MerchTerm_umg/PostImStorno" style="document" />
      <wsdl:input name="PostImStornoReqMsg">
        <soap:header message="tns:PostImStornoReqMsg_Headers" part="CorrelationId" use="literal" />        
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PostImStornoRespMsg">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImNotif">
      <soap:operation soapAction="http://cellumpay.cellum.com/I_MerchTerm_umg/GetImNotif" style="document" />
      <wsdl:input name="GetImNotifReqMsg">        
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetImNotifRespMsg">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostMpCheckout">
      <soap:operation soapAction="http://cellumpay.cellum.com/I_MerchTerm_umg/PostMpCheckout" style="document" />
      <wsdl:input name="PostMpCheckoutRequestMsg">
        <soap:header message="tns:PostMpCheckoutRequestMsg_Headers" part="CorrelationId" use="literal" />        
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PostMpCheckoutRespMsg">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostMpPayment">
      <soap:operation soapAction="http://cellumpay.cellum.com/I_MerchTerm_umg/PostMpPayment" style="document" />
      <wsdl:input name="PostMpPaymentRequestMsg">
        <soap:header message="tns:PostMpPaymentRequestMsg_Headers" part="CorrelationId" use="literal" />        
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PostMpPaymentRespMsg">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostMpShoppingCart">
      <soap:operation soapAction="http://cellumpay.cellum.com/I_MerchTerm_umg/PostMpShoppingCart" style="document" />
      <wsdl:input name="PostMpShoppingCartRequestMsg">
        <soap:header message="tns:PostMpShoppingCartRequestMsg_Headers" part="CorrelationId" use="literal" />        
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PostMpShoppingCartRespMsg">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>